boto3>=1.35.3
botocore>=1.35.3
certifi>=2024.7.4
charset-normalizer>=3.3.2
configparser>=7.1.0
git-filter-repo>=2.45.0
idna>=2.8
jmespath>=1.0.1
psutil>=5.6.4
PySocks>=1.7.1
python-dateutil>=2.9.0.post0
requests>=2.32.3
s3transfer>=0.10.2
six>=1.12.0
urllib3>=1.25.7
